.faqContainer {
  width: 800px;
  border: 4.5px solid #cacaca;
  background: #fff;
  box-shadow: 0 3.6px 3.6px 0 rgba(0, 0, 0, 0.25);
  padding: 28px 36px;
}
.faqTitle {
  align-self: stretch;
  color: #ff8469;
  text-align: center;
  font-family: Paperlogy;
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: 24.96px;
  letter-spacing: -0.192px;
}

.faqText {
  color: #000;
  text-align: center;
  font-feature-settings: "liga" off, "clig" off;
  font-family: Paperlogy;
  font-size: 30px;
  font-style: normal;
  font-weight: 500;
  line-height: 50px;
  letter-spacing: -0.192px;
  white-space: pre-line;
  overflow: hidden;
  transition: max-height 0.4s ease;
}
