button {
  font-family: 'Paperozi', sans-serif;
  font-weight: 700;
  font-size: 20px;
  border: 1.25px solid #CFD9E0;
  border-radius: 12px;
  padding: 16px;
  cursor: pointer;
  transition: all 0.2s ease;
}

button:hover {
 filter: brightness(90%);
}

button:active {
 filter: brightness(80%);
}

.black { 
 background-color: #2C3E50;
 color: white;
}

.white{
 background-color: whtie;
 color: #2C3E50;
}

.active{
 filter: brightness(80%);
}

.active:hover {
  filter: brightness(80%) !important;
}