.cardContainer {
  display: flex;
  width: 400px;
  height: 600px;
  padding: 63px 38px 63px 38px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 54px;
  border: 4.5px solid #cacaca;
  background: #fff;
  box-shadow: 0 3.6px 3.6px 0 rgba(0, 0, 0, 0.25);
}

.cardTitle{
 display: flex;
 height: 40px;
 flex-direction: column;
 justify-content: center;
 align-self: stretch;
 color: #111B2B;
 text-align: center;
 font-feature-settings: 'liga' off, 'clig' off;
 font-family: Paperlogy;
 font-size: 40px;
 font-style: normal;
 font-weight: 800;
 line-height: 25px;
}

.cardText{
 display: flex;
 height: 280px;
 flex-direction: column;
 justify-content: center;
 align-self: stretch;
 color: #31353C;
 text-align: center;
 font-feature-settings: 'liga' off, 'clig' off;
 font-family: Paperlogy;
 font-size: 25px;
 font-style: normal;
 font-weight: 500;
 line-height: 45px;
 letter-spacing: -0.192px;
 white-space: pre-line;
}