body {
    background-color: #FDFBF6;
    font-family: 'Paperlogy', sans-serif;
    margin: 0;
    padding: 0;
  }
  
@font-face {
    font-family: 'Paperlogy';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2306@1.0/Paperlogy-4Regular.woff2')
    format('woff2');
    font-weight: 400;
    font-style: normal;
  }
.login-container{
    position: relative;
    width: 31.25vw;
    height: 76vh;
    margin-left: 8.3vw;
    margin-top:12vh;
    border-radius: 20px;
    background: #FFF;
    box-shadow: 0 19px 40px 0 rgba(0, 0, 0, 0.05);
    flex-shrink: 0;
}
.in{
    position : absolute;
    width : 28vw;
    height : 7.4vh;
    margin-top: 35vh;
}
.in input{
    width : 25vw;
    height : 5vh;
    flex-shrink: 0;
    border : none;
    border-radius: 4px;
    margin-left:2vw;
    margin-bottom : 6vh;
    background: #FFF6F4;
}
.login-container h1{
    position: absolute;
    width: 16.6vw;
    height: 9vw;
    margin-top : 7vh;
    margin-left : 2vw;
    color: #000;
    font-family: Paperlogy;
    font-size: 2.6vw;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.Rectangle{
    position: absolute; 
    border-top-left-radius: 25px;
    border-bottom-left-radius : 25px;
    top: 0;              
    right: 0; 
    width: 52vw;
    height: 100vh;
    margin-left : 48vw;
    flex-shrink: 0;
    background-color: #FF8469;
}
.in label{
    position: relative;
    font-size: 1.0vw;
    left:2vw;
    bottom:1vh;  
}
.submit-button{
    position: absolute;
    width : 6vw;
    height:5vh;
    bottom : 8vh;
    left:50%;
    font-family: 'Paperlogy', sans-serif;  
    font-size: 1.1vw;     
    background-color: #FF8469; 
    color: white; 
    border: none;
    border-radius: 5px;
    transform: translate( -50%);
}
.Rectangle img{
    position: relative;
    left:50%;
    top:50%;
    transform: translate(-50%, -50%);
}